@mixin w-full {
  width: 100%;
}

.vue3-form {
  @include w-full;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, auto);
  column-gap: 8px;
  row-gap: 8px;
  justify-items: end;
  align-items: center;
}

.vue3-form-item {
  @include w-full;
  &__component {
    @include w-full;
  }
}

.el-form {
  label {
    white-space: nowrap;
    margin-left: 4px;
    display: flex;
    align-items: center;
  }
  .el-form-item {
    margin-bottom: 0;
    width: 100%;
    --font-size: var(--el-font-size-base);
    &__label {
      margin-left: 0;
    }
  }
}
