body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  transition: background-color 0.2s;
}

#app {
  width: 100%;
  height: 100%;
}

.move-enter-active,
.move-leave-active {
  transition: opacity 0.1s ease;
}

.move-enter-from,
.move-leave-to {
  opacity: 0;
}
